.filter-wrapper {
    display: flex;
    margin: 10px 0;
}

#results-table {
    width: 100%;
}

#results-table td, #results-table th {
	padding: 5px;
}

#all-cards {
    display:flex;
    flex-wrap: wrap;
}

/* #my-card {
    flex: 1 1 200px;
    border: 1px black solid;
    max-width: 200px;
} */

.image {
    max-width: 490px;
} 

/* Below is extra credit */

/* Default / Large Desktop  >1366px */




/* Small Desktop <1024px */


/* Tablet <760px */


/* phone <411px */

